<section class="asm-top">
	{{ content.top }}
</section>

<div id="asm-mid">
	<section class="asm-col">
	  {{ content.mid }}
	</section>

	<aside class="asm-side">
		{{ content.aside }}
	</aside>
</div>

<section class="asm-footer">
	{{ content.footer }}
</section>
