<section class="splash-section">
  {{ content.splash_left }}
  {{ content.splash_right }}
</section>
<section class="mid-section">
   {{ content.mid }}
</section>
<section class="bottom-section">
  {{ content.footer }}
</section>