<section class="splash-section">
	<div id="page-splash" class="large-11 large-offset-1 columns">
	
		<div class="splash-left">
			 {{ content.splash_left }}
		</div>

		<div class="splash-right">
			{{ content.splash_right }}
		</div>
	
	</div>
</section>

<section class="mid-section">
   {{ content.mid }}
</section>

<section class="bottom-section">
  {{ content.footer }}
</section>


























