<section class="title-section row">
	<div class="large-12 columns">
		<div class="title-sec-wrap">
			<h1>{{ content.title }}</h1>
		</div>
	</div>
</section>
<section class="mid-section row">
	<div class="mid-sec-wrap large-12 columns">
   		{{ content.mid }}
   	</div>
</section>
<section class="footer-section">
	<div class="footer-sec-wrap large-12 columns">
		{{ content.footer }}
	</div>
</section>