<div id="df-flex">
    <section class="df-section">
        {{ content.section_one }}
    </section>

    <section class="df-section df-section-two rellax" data-rellax-speed="4">
       {{ content.section_two }}
    </section>

    <section class="df-section df-section-three rellax" data-rellax-speed="10">
      {{ content.section_three }}
    </section>

    <section class="df-section df-section-four rellax" data-rellax-speed="5" >
      {{ content.section_four }}
    </section>
</div>
